* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    font-size:14px;
}

body {
    background:#fff;
    display:grid;
    grid: 
    'header' max-content
    'main' 1fr
    'footer' max-content;

}

header{
    grid-area:header;
    /* background: green; */
    width: 100%;

}

nav {
display:flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
}

.ggl-nav-item{
    padding: 10px 20px 10px 0;
    color: rgba(0,0,0,0.87);
    text-align: center;
    align-content: center;
    line-height: 30px;
      

}

.ggl-nav-item:hover{
    text-decoration: underline;
}

.ggl-nav-item svg{
    color:black;
    height: 20px;;
}

#ggl-signin-btn{
    background: #4285f4;
    color:white;
    height: 30px;
    border-width: 0px;
    border-radius: 2px;
    padding: 0 20px;
    font-weight: 500;
    text-align: center;
    text-justify: center;
}
#ggl-signin-btn:focus{
outline: none;

}
main {
    grid-area:main;
    justify-self: center;
    align-self:start;
    margin-top: 100px;  
    
    }
.ggl-main-container {
    width:500px;
    display:grid;
    grid-gap:10px;
    grid: 'logo logo' max-content
    'input input' 50px
    'search-btn lucky-btn' 60px
    'language language' 40px;
}
.ggl-logo{
    grid-area: logo;
    padding-bottom: 30px;
    justify-self: center;
}

.ggl-input{
    grid-area:input;
    border: 1px solid #dfe1e5 ;
    border-radius: 25px;
}
.ggl-input:hover{
  box-shadow: 0 2px #f2f2f2;
  border: 3px solid #dfe1e5;
}
.ggl-input input{
    border: none;
    outline:none;
}
.ggl-search-button{
    grid-area:search-btn;
    justify-self: end;
}

.ggl-lucky-button{
    grid-area:lucky-btn;
    justify-self: start;
}

.ggl-lucky-button button, .ggl-search-button button {
    line-height: 30px;
    outline: none;
    border:none;
    padding: 5px 10px;
    margin: 0 5px;
    min-width: 150px;
    border-radius: 9px;
    color:rgba(0,0,0,0.87);
}
.ggl-language {
    grid-area:language;
    justify-self: center;
}
#ggl-logo-image{
    height: 92px;
    width: 300px;
}

footer{
    grid-area:footer;
}

footer{
    display:grid;
    background: #f2f2f2;
    font-family: Arial, Helvetica, sans-serif;
    color: #5f6368;
    line-height: 40px;
    border-top: 1px solid #e2e2e2;
    grid-template-columns: minmax(max-content, 1fr) minmax(max-content, 1fr);
}
.ggl-footer-country{
    grid-column: span 2;
    line-height: 40px;
    padding-left: 25px;
    border-bottom: 1px solid #e2e2e2;
}

.ggl-footer-links-left{
    display:flex;
    flex-direction: row;
    align-items: center;

}

.ggl-footer-links-right{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 25px;
}
.ggl-footer-link-item{
    padding-left: 25px;
    text-align:center;

}

.ggl-footer-link-item:hover{
    text-decoration: underline;
}